<!DOCTYPE html>
<html lang="sv">
	<head>
		@if(IsSectionDefined("HeadMeta"))
		{
			@RenderSection("HeadMeta")
		}
		else
		{
			<partial name="~/Views/Shared/Parts/HeadMeta.cshtml" />
		}
		@if(IsSectionDefined("HeadTitle"))
		{
			@RenderSection("HeadTitle")
		}
		else
		{
			<partial name="~/Views/Shared/Parts/HeadTitle.cshtml" />
		}
		@if(IsSectionDefined("HeadLink"))
		{
			@RenderSection("HeadLink")
		}
		else
		{
			<partial name="~/Views/Shared/Parts/HeadLink.cshtml" />
		}
		@if(IsSectionDefined("AdditionalHeadContent"))
		{
			@RenderSection("AdditionalHeadContent")
		}
	</head>
	<body>
		<div class="grid -pad -center" style="min-height: 100vh;">
			<partial name="~/Views/Shared/Parts/Header.cshtml" />
			@RenderBody()
			<partial name="~/Views/Shared/Parts/Footer.cshtml" />
		</div>
		<partial name="~/Views/Shared/Parts/Scripts.cshtml" />
	</body>
</html>